.container {
    max-width: 1400px;
}

.oz-code .oz_file {
    color: #DDB639/*#FF4500*/;
    font-weight: bold;
}

.oz-code .oz_keyword {
    color: #AA22FF;
    font-weight: bold;
}

.oz-code .oz_keyword_simple {
    color: #AA22FF;
}

.oz-code .oz_comment {
    color: #008000;
    font-style: italic;
}

.oz-code .oz_comment .oz_keyword_simple{
    color: #008000;
    font-style: italic;
}

.oz-code .oz_comment_ast {
    color: #008000;
}

.oz-code .oz_atom {
    color: #156b9b;
}

/*.oz-code .oz_variable {
    color: #ff0000;
}

.oz-code .oz_string {
    color: #408080;
    font-style: italic;
}*/

.clearer {
    height:1px;
    overflow:hidden;
    clear:both;
    margin-top:-1px;
}
.collapsible {
    cursor: pointer;
    padding: 1px;
    border: none;
    font-family: monospace

}

.active, .collapsible:hover {
    background-color: #FFFFFF;
}

.content {
    display: none;
    overflow: hidden;
}

.scrollable {
    overflow-y: auto;
}

h3 {
    font-size: 16px; font-style: italic; font-weight: bold;
}

ul.blockList {
    list-style: none; background-color: #f8f8f8; /*padding: 0;*/
    margin: 10px 0 10px 0;
}

ul.blockList h3 {
    padding: 0; margin: 15px 0;
}

ul.blockList li.blockList {
    list-style:none;
    margin-bottom:25px;
}

ul.blockList ul.blockList {
    list-style: none; padding: 0; background-color: #f8f8f8;
}

ul.blockList ul.blockList li {
    background-color: #ffffff;
}

ul.blockList li.blockList h2 {
    padding: 10px 0 5px 0;
}

/*ul.blockList li.blockList, ul.blockListLast li.blockList {*/
li.blockListDetails{
    list-style:none;
    margin: 0 0 30px 0;
    border: 1px solid #87CEFA;
    border-collapse: separate;
    border-radius: 20px;
}

li.blockListDetails pre{
    padding: 0 0 0 10px;
}

li.blockListDetails dt{
    padding: 0 0 0 10px;
}

li.blockListDetails dd{
    padding: 0 10px 0 10px;
}

ul.blockList ul.blockList h4 {
    background-color: #c7e6fd;/*#dee3e9;*/
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding:5px 0 5px 10px;
    /*border: 2px #d0d9e0;*/
}

span.todoLabel {
    font-weight: bold; color: #FF0000;/*#E10000;*/
}

dd.todoLabel {
    color: #FF0000;
}

/*div.general-info li {*/
    /*list-style:none;*/
/*}*/

div.TODO {
    color: #E10000;
}

table {
    border-collapse: separate;
    border: 2px solid #d0d9e0;
    border-radius: 20px;
}

/*div.border.border-dark.p-4 {*/
    /*border-collapse: separate;*/
    /*border: 2px solid #d0d9e0;*/
    /*border-radius: 20px;*/
/*}*/

/*
h4 {
    background-color: #dee3e9;
    border: #d0d9e0
}
*/



.showCodeButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #66a9f2), color-stop(1, #497cc9));
	background:-moz-linear-gradient(top, #66a9f2 5%, #497cc9 100%);
	background:-webkit-linear-gradient(top, #66a9f2 5%, #497cc9 100%);
	background:-o-linear-gradient(top, #66a9f2 5%, #497cc9 100%);
	background:-ms-linear-gradient(top, #66a9f2 5%, #497cc9 100%);
	background:linear-gradient(to bottom, #66a9f2 5%, #497cc9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#66a9f2', endColorstr='#497cc9',GradientType=0);
	background-color:#66a9f2;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
.showCodeButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #497cc9), color-stop(1, #66a9f2));
	background:-moz-linear-gradient(top, #497cc9 5%, #66a9f2 100%);
	background:-webkit-linear-gradient(top, #497cc9 5%, #66a9f2 100%);
	background:-o-linear-gradient(top, #497cc9 5%, #66a9f2 100%);
	background:-ms-linear-gradient(top, #497cc9 5%, #66a9f2 100%);
	background:linear-gradient(to bottom, #497cc9 5%, #66a9f2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#497cc9', endColorstr='#66a9f2',GradientType=0);
	background-color:#497cc9;
}
.showCodeButton:active {
	position:relative;
	top:1px;
}


